.input, .textarea {
    background-color: #D0CED2;
    border: 0 none;
    color: #000000;
    display: block;
    float: right;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    height: 14px;
    margin: 4px 0 0;
    padding: 0;
    width: 220px;
}