html, body{
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    overflow:auto;
}

body {
    margin:0px;
    padding:0px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#596563;
    background-color:#1a1617;
}

html > body{
    width:100%;
    height:100%;
}

#center{
    margin:0px auto;
    width: 98%;
}

.main_content{
    height:auto;
    margin:0px auto;
    padding-top: 30px;
    font-size: 14px;
}

a {
    text-decoration:none;
    outline:none;
}

a:hover {
    text-decoration:none;
    outline:none;
}

a:focus, a:visited, object:focus {
    text-decoration:none;
    outline:none;
}

img {
    border:0px;
}

.clear {
    height:1px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:2px;
    margin:0px;
    padding:0px;
    overflow:hidden;
    display:block;
    clear:both;
}
